/* Estilos generales */
body {
    background-color: #303b42;
    font-family: "Source Sans Pro", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1e2e46;
    color: antiquewhite;
    padding: 12px 0;
}

nav ul {
    font-size: 14px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    font: inherit;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    font-weight: 100;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}

.main-content {
    padding: 20px;
    text-align: center;
    background-color: #333;
}
.main-content h1 {
    color: antiquewhite;
}

#series-h1 {
    text-align: center;
    color: antiquewhite;
}

#series-container {
    background-color: #1e2e46
}

#series-grid {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    padding: 20px;
    grid-auto-rows: minmax(0, m5);
    justify-content: center;
}

#series-grid .series {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
    border: 1px solid rgba(var(--lightGrey), 1);
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 15px;
    font-family: "Source Sans Pro", Arial, sans-serif;
}

#series-grid .series img {
    min-width: 80px;
    max-width: 260px;
    border-radius: 15px;
}

#series-grid .series h3 {
    margin: 0;
}

#series-grid .series p {
    margin: 0;
    font-size: 0.8rem;
}

footer {
    background-color: #333;
    color: antiquewhite;
    text-align: center;
    padding: 10px 0;
}